{% load socialaccount %}
{% load i18n %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
  {% if provider.id == "openid_connect" %}
    {% for app in provider.get_apps %}
      <a title="{{ app.name }}" class="btn btn-outline-dark w-100 mb-2"
         href="{% provider_login_url provider.id openid_connect_provider=app.provider_id %}">
        <i class="fab fa-google me-2"></i>{% blocktrans with name=app.name %}Continuar com {{ name }}{% endblocktrans %}
      </a>
    {% endfor %}
  {% else %}
    <a title="{{ provider.name }}" class="btn btn-outline-dark w-100"
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google logo" style="height: 20px; margin-right: 10px; vertical-align: middle;">
        {% blocktrans with name=provider.name %}Continuar com {{ name }}{% endblocktrans %}
    </a>
  {% endif %}
{% endfor %}
