{% extends 'portfolio/base.html' %}

{% block title %}{% if form.instance.pk %}Editar Ativo{% else %}Adicionar Ativo{% endif %}{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Editar Ativo{% else %}Adicionar Novo Ativo{% endif %}</h2>
<hr>

<form method="post">
    {% csrf_token %}

    <div class="mb-3">
        <label for="{{ form.ticker.id_for_label }}" class="form-label">{{ form.ticker.label }}</label>
        {{ form.ticker }}
    </div>
    <div class="mb-3">
        <label for="{{ form.quantity.id_for_label }}" class="form-label">{{ form.quantity.label }}</label>
        {{ form.quantity }}
    </div>
    <div class="mb-3">
        <label for="{{ form.average_price.id_for_label }}" class="form-label">{{ form.average_price.label }}</label>
        {{ form.average_price }}
    </div>
    <div class="mb-3">
        <label for="{{ form.asset_type.id_for_label }}" class="form-label">{{ form.asset_type.label }}</label>
        {{ form.asset_type }}
    </div>
    <div class="mb-3">
        <label for="{{ form.sector.id_for_label }}" class="form-label">{{ form.sector.label }}</label>
        {{ form.sector }}
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a href="{% url 'portfolio:asset_list' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
